<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>test</display-name>

	<!-- 指定初始化ServletContext参数：Spring配置文件位置
		（如果没配置这个ContextLoaderListener默认会加载WEB-INF下的applicationContext.xml） -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring/root-context.xml
		</param-value>
	</context-param>

	<!-- 通过listener方式加载Spring容器（父容器） -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 注册SpringMVC中央调度器（加载子容器） -->
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 指定SpringMVC配置文件位置及文件名 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/web-context.xml</param-value>
		</init-param>
		<!-- 这里配置大于0的数，越小优先级越高 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<!-- 拦截所有请求（不要配/*：会拦截动态请求）（/：会拦截静态资源请求） -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 注册字符编码过滤器 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceRequestEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>forceResponseEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
